.child {
  margin-left: 24px;
  margin-top: 12px;
}

.expanded {
  border-left: 1px solid lightgray;
  margin-left: 12px;
}

.box {
  color: grey;
}

.brackets {
  color: #01579b;
}

.boolean {
  color: lightcoral;
}

.number {
  color: lightgreen;
}

.string {
  color: lightskyblue;
}

.null {
  color: red;
}

.simple {
  margin-left: 6px;
}

.viewerMargin {
  margin-top: 2px;
}

.card-panel {
  min-height: 500px;
}

.text {
  border: none;
  color: black;
}

.text:hover {
  background-color: rgb(32, 178, 170, 0.15);
  cursor: pointer;
}
